.container {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.container img {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.commentWrapper {
  flex: 1;
}

.commentWrapper footer {
  margin-top: 1rem;
}

.commentWrapper footer button {
  border: none;
  background: transparent;
  color: var(--gray-400);
  cursor: pointer;
  border-radius: 2px;

  display: flex;
  align-items: center;

  transition: color 0.1s ease-in;
}

.commentWrapper footer button:hover {
  color: var(--green-300);
}

.commentWrapper footer button svg {
  margin-right: 0.625rem;
}

.commentWrapper footer button span::before {
  content: "\2022";
  padding: 0 0.25rem;
}

.commentBox {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentBox header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTime {
  display: flex;
  flex-direction: column;
}

.authorAndTime strong {
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTime time {
  color: var(--gray-400);
  font-size: 0.75rem;
  line-height: 1.6;
}

.commentBox header button {
  background: transparent;
  border: none;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
  transition: color 0.1s ease-in;
}

.commentBox header button:hover {
  color: var(--red-500);
}

.commentBox p {
  margin-top: 1rem;
  color: var(--gray-300);
}